html{
    background-color: #606060;
    scroll-behavior: smooth;
    color: whitesmoke;
}

body{
    width: 80%;
    margin: auto;
    font-family: "GalyonBook", "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh; /*vh=viewport donc 100% de la taille de la page*/
    background-color: rgba(0, 0, 0, .7);
    min-width: 520px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

header a {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 35%;
}

header a img {
    max-width: 129%;
    height: auto;
}

header form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header form fieldset{
    border: none;
    margin-top: 2%;
}

header form fieldset label{
    font-size: 25px;
}

header form fieldset #summonerName_id{
    border-radius: 0.5em;
    border: 3px solid white;
    height: 30px;
    background-color: rgba(0, 0, 0, .9);
    color: whitesmoke;
    text-indent: 10px;
}

header form .bouton{
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .9);
    border: 4px solid white;
    border-radius: 50px;
    width: 95px;
    height: 37px;
    transition: 0.2s;
}

header form fieldset select{
    text-align: center;
    height: 34px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}

header form .bouton:hover{
    transform: scale(1.1);
}

header #bordureLogo {
    margin-top: 2%;
    width: 100%;
    margin-bottom: 1%;
    border-bottom: 5px solid white;
}

/* MAIN */

main{
    flex: 1; /* ? */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.summonerInfo{
    display: flex;
    flex-flow: column wrap;
}

.middle {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: greenyellow;
    flex-wrap: wrap;
}

.leftSide {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    min-width: 280px;
}

.rankInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

.main {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: red;
}

.allInfos {
    width: 100%;
    background-color: blueviolet;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.lastGameInfo {
    background-color: cornflowerblue;
    width: 100%;
}

#summonerName{
    font-size: 25px;
    font-weight: bold;
}

/* POLICE */

@font-face {
    font-family: GalyonBook;
    src: url(GalyonBook.otf);
}

/* MEDIA QUERY */

@media (max-width: 1766px){

    .allInfos {
        margin-left: 0;
    }

}